body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.app {
  background-color: #079bdf;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  height: 90vh;
  width: 80vw;
  max-width: 800px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}
.btn-group {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
}
.title {
  width: 100%;
}
h1,
p {
  padding: 0;
  margin: 0;
}
.messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  overflow-y: auto;
  height: 100%;
}
.loading-bar {
  margin: 30px auto;
  width: 90%;
}
.assistant,
.user {
  display: flex;
}
.user {
  justify-content: flex-end;
}
.assistant .message {
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  padding: 10px 10px 20px 10px;
  background-color: #a8ddfd;
  min-width: 10%;
  max-width: 60%;
  text-align: left;
  font: 400 0.9em "Open Sans" sans-serif;
  border: 1px solid #97c6e3;
  border-radius: 10px;
  word-wrap: break-word;
}
.assistant .message:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #a8ddfd;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  left: -15px;
}
.assistant .message:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #97c6e3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  left: -17px;
}
.user .message {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 10px 20px 10px;
  background-color: #dedede;
  min-width: 10%;
  max-width: 60%;
  margin-left: 40%;
  text-align: left;
  font: 400 0.9em "Open Sans" sans-serif;
  border: 1px solid #c3c3c3;
  border-radius: 10px;
  word-wrap: break-word;
}
.user .message:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid #dedede;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  top: 0;
  right: -15px;
}
.user .message:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-top: 17px solid #c3c3c3;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  top: -1px;
  right: -17px;
}
.timestamp {
  position: absolute;
  font-size: 0.7em;
  font-weight: 300;
  margin-top: 10px;
  bottom: 1px;
  right: 5px;
}
.user-input {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
}
.input {
  width: 100%;
}
.user-input button {
  height: 56px;
}
/* Scroll styles */
::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #c3c3c3;
  border-radius: 20px;
}
/* Media */
@media (max-width: 820px) {
  .assistant .message,
  .user .message {
    min-width: 15%;
  }
  header {
    text-align: left;
  }
}
@media (max-width: 550px) {
  .title {
    width: 60%;
  }
  .assistant .message,
  .user .message {
    min-width: 20%;
  }
}
@media (max-width: 400px) {
  .assistant .message,
  .user .message {
    min-width: 25%;
  }
}
@media (max-width: 350px) {
  .avatar {
    display: none;
  }
}
